#ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    transition: all 1s;
}



#field {
    width: 300px;
    height: 250px;
    border: 13px solid black;
    background-color: #00FF00;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

